!.env.example
*.ckpt
*.egg-info/
*.pt
*.pth
*.py[cod]
.DS_Store
.env
.env.*
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
build/
checkpoints/
dist/
node_modules/
venv/
wandb/
